@import '~node_modules/modern-normalize/modern-normalize.css';

button {
   padding: 10px;
   margin-left: 10px;
   border-radius: 5px;
   color: aliceblue;
   background-color: rgb(45, 159, 231);
   border: none;
   transform: scale(1);
   transition: background-color 250ms linear, transform 250ms linear;
}

button:hover {
   background-color: rgb(65, 168, 127);
   transform: scale(1.05);
}

header {
   background-color: #4253af;
   padding-top: 10px;
   padding-bottom: 10px;
}

.photo-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   margin-bottom: 10px;
}

.info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;

}

.info-item {
   display: flex;
   flex-direction: column;

}

.gallery {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;

}

.search-form {

   display: flex;
   justify-content: center;
}


.load-more {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
}